/* global css vars */
:root {
    --primary-bg-color: #4d4a58;
    --secondary-bg-color: #a6a4b3;
    --topbar-bg-color: rgb(163, 129, 170);
    --text-color: azure;
    --link-color: rgb(227, 195, 255);
    --link-highlight-color: #a16969;
}

body {
    background-color: var(--secondary-bg-color);
    font-size: 16pt;
    padding-left: 15%;
    padding-right: 15%;
}
h1 {
    padding-left: 1%;
    font-size: 32pt;
}
h2 {
    font-size: 24pt;
}

a:hover {
    color: var(--link-highlight-color)
}

/* top bar navigation */
/* TODO:
    * some kind of cute pixel art idk what it'll be or be for
*/
.topbar {
    background-color: var(--secondary-bg-color);
}

.menu a {
    float: left;
    color: var(--text-color);
    background-color: var(--topbar-bg-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Roboto Mono', 'Courier New', monospace;
}

.menu a:hover {
    background-color: var(--link-highlight-color);
    color: black;
}

.menu a.active {
    background-color: var(--topbar-bg-color);
    color: var(--text-color);
}

/* main content */
.main {
    overflow:hidden;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;

    margin-top: 0.75%;
    margin-bottom: 1%;
    
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 16px;
    font-size: 16pt;
}

/* body text */
.text {
    padding-right: 30%;
    padding-left: 3%;
}

.inline-link a {
    font-family: 'Roboto Mono', 'Courier New', monospace;
    font-weight: bold;
    font-size: 15pt;
    text-decoration: none;
    color: var(--link-color);
}
.inline-link a:visited {
    color: var(--link-color);
}
.inline-link a:hover {
    color: var(--link-highlight-color)
}

/* footer that will be placed on every page
 TODO: 
    * little divide pixel art that separates this from main element?
    * socials & external links
    * 
*/
.footer {
    margin:auto;
    width:15%;
    text-align:center;
    padding: 20px 20px;
    background-color: rgb(148, 136, 175);
    color: var(--text-color);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 16px;
    font-size: 16pt;
}

/* post stuff */
.post-item {
    font-size: 14pt;
    border-top: 1px dotted;
    border-bottom: 1px dotted;
}
.post-title {
    text-decoration: none;
    margin-bottom: -15px;
}

.pre-post-title {
    text-decoration: none;
    color: var(--link-color);
}

.post-timestamp { /* one piece reference */
    color: rgb(43, 38, 43);
}

.pre-post-timestamp { 
    font-size: 10pt;
    color: rgb(43, 38, 43);
}

.under-construction {
    animation-name: under-construction;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: infinite;   
}

@keyframes under-construction {
    0%    {color: yellow;}
    50%   {color: black;}
    100%  {color: yellow;}
}

.wavy {
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes wavy {
    0% {
        top: 0px;
    }
    50% {
        top: -15px;
    }
    100% {
        top: 0px;
    }
}